html, body, #chart {
  margin: 0px;
}

#flags {
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/J-Sanderson/d3-Force-Directed-Graph/master/flags.png")
}

.links {
  stroke: black;
  stroke-width: 1;
}